.dashboard__section{
  background-color: #fafafa;
  width: 100%;
  padding: 30px 60px;
  /* border: 1px solid rgb(226, 226, 226); */
}
.dashboard__section > header{
  display: flex;
  flex-direction: column;
  padding: 50px 0px;
}
.dashboard__section .admin--details{
  display: flex;
  justify-content: space-between;
}
.admin--details .btn {
  cursor: pointer;
  padding: 0.8rem 1rem;
  display: inline-block;
  height: 60px;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1;
  transition: 0.5s ease-in-out;
  border-radius: 0.5rem;
  background: #fff;
  border: 0.1rem solid #ff5f00;
  color: #ff5f00;
}
.admin--details .btn:hover {
  transition: ease 0.5s;
  background-color: #ff5f00;
  color: #fff;
  border: none;
}
.admin--details h2{
  font-size: 20px;
  font-weight: 500;
  line-height: 40px;
  letter-spacing: 0em;
  text-align: left;
  color: #000000;
  margin: 0px;
}
.admin--details p{
  font-size: 14px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: left;
}


.box--analytics{
  display: flex;
  justify-content: space-between;
}
.box--analytics > .info--boxes{
  border: 1px solid #0000001A;
  width: 30%;
  padding: 10px 10px;
}
.info--boxes h6{
  font-size: 12px;
  font-weight: 500;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: left;
}
.info--boxes h4{
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: left;
}
.info--boxes p{
  font-size: 12px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: left;
}


.dashboard__section > aside{
  padding: 50px 0px;
}
.dashboard__section > aside > span{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}
.dashboard__section  > aside > span > h6{
  font-size: 20px;
  font-weight: 600;
  line-height: 36px;
  letter-spacing: 0px;
  text-align: left;
}
.dashboard__section table{
  width: 100%;
}
th{
  font-size: 18px;
  font-weight: 500;
  /* line-height: 36px; */
  letter-spacing: 0px;
  text-align: left;
  padding: 0px 10px;
}
td{
  font-size: 16px;
  font-weight: 400;
  line-height: 36px;
  letter-spacing: 0px;
  text-align: left;
  padding: 10px 10px;
}
td span{
  display: flex;
  gap: 20px;
}
td p{
  padding-bottom: 0px;
}
.dashboard__section table .user-img{
  background-color: rgb(107, 60, 107);
  color: white;
  border: none;
  border-radius: 50%;
  text-align: center;
  font-size: 12px;
  width: 30px;
  height: 33px;
}





/*************************************************************************************************************/
@media screen and (max-width: 1028px) {
  .dashboard__section{
    overflow-x: hidden;
    padding: 20px 15px;
  }
  .dashboard__section > header{
    padding: 30px 0px;
  }
  .admin--details{
    flex-direction: column;
    align-items: flex-start;
    padding-bottom: 20px;
  }
  .admin--details .btn {
    padding: 0.2rem 0.2rem;
    height: 40px;
    width: 120px;
    font-weight: 400;
    font-size: 0.8rem;
    /* line-height: 1; */
    border-radius: 0.5rem;
  }
  .admin--details h2{
    font-size: 16px;
  }
  .admin--details p{
    font-size: 12px;
  }
  .box--analytics{
    flex-direction: column;
    gap: 10px;
  }
  .box--analytics > .info--boxes{
    width: 100%;
  }
  .dashboard__section table{
    width: 100%;
  }
  .dashboard__section table .user-img{
    text-align: center;
    font-size: 12px;
    line-height: 28px;
    width: 24px;
    height: 28px;
  }
  th{
    font-size: 14px;
    padding: 0px 5px;
  }
  td{
    font-size: 12px;
    line-height: 16px;
    padding: 10px 5px;
  }
}