.admin--sidebar{
  width: 300px;
  border-top: 1px solid #fbfbfb;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.admin--sidebar > div{
  padding: 15px 0px;
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 10px;
}
.admin--sidebar > div > h3{
  padding: 0px 50px;
  font-size: 12px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  color: #00000080;
}
.admin--sidebar > div > a{
  padding: 10px 50px;
  font-size: 16px;
  font-weight: 500;
  line-height: 32px;
  letter-spacing: 0em;
  text-align: left;
  display: flex;
  align-items: center;
  gap: 5px;
}
.admin--sidebar > div > a > svg{
  color: #FF5F00;
}
.admin--sidebar > div > a.active{
  border-left: 5px solid #FF5F00;
  background: linear-gradient(90deg, rgba(255, 95, 0, 0.1) 0%, rgba(12, 70, 211, 0) 99.99%, rgba(217, 217, 217, 0) 100%);
}
.admin--sidebar--mobile{
  display: none;
}



@media screen and (max-width: 768px) {
  .admin--sidebar{
    display: none;
  }
  .admin--sidebar--mobile{
    width: 100%;
    border-top: 1px solid #fbfbfb;
    border-right: 1px solid #fbfbfb;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: #FF5F00;
    padding-top: 20px;
    padding-left: 20px;
  }
  .admin--sidebar--mobile > div{
    padding: 15px 0px;
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 10px;
  }
  .admin--sidebar--mobile > div > h3{
    padding: 0px 20px;
    font-size: 12px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: #ffffffaf;
    text-transform: uppercase;
  }
  .admin--sidebar--mobile > div > a{
    padding: 5px 20px;
    font-size: 12px;
    font-weight: 500;
    line-height: 32px;
    letter-spacing: 0em;
    text-align: left;
    display: flex;
    align-items: center;
    gap: 5px;
    color: #FFF;
  }
  .admin--sidebar--mobile > div > a > svg{
    color: #FFF;
    background-color: #ffffff23;
    padding: 5px;
    border-radius: 50%;
    width: 1.5rem;
    height: 1.5rem;
  }
  .admin--sidebar--mobile > div > a.active{
    border-left: 3px solid #FF5F00;
    background: linear-gradient(90deg, rgba(255, 95, 0, 0.1) 0%, rgba(12, 70, 211, 0) 99.99%, rgba(217, 217, 217, 0) 100%);
  }
}