@import "../../../scss/colors";
@import "../../../scss/mixins";

.popular {
  position: relative;
  z-index: 0;

  .empty--search {
    height: calc(100vh - 10rem);
    @include flex;
    flex-direction: column;

    &--heading {
      font-size: 2.3rem;
      font-weight: 700;
      text-transform: capitalize;
      color: #000000;
    }
  }

  .add--icon {
    color: $main;
  }

  &__user--managenent {
    @include flex(space-between);

    .btn {
      @include btn;
      border-radius: 0.5rem;
      background: #fff;
      border: 0.1rem solid $main;
      color: $main;

      &:hover {
        color: #fff;
      }
    }
  }

  &--username {
    font-size: 1.3rem;
  }

  &__top {
    @include flex(space-between);
    margin-top: 3rem;

    &--heading {
      font-size: 1.3rem;
    }
  }

  &--grid {
    margin-top: 1rem;
    display: grid;
    grid-template-columns: 1fr 22rem;

    & > * {
      padding: 2rem 1rem;
    }
  }

  &__sidebar {
    border-left: 0.1rem solid #33333355;
  }

  &__search-box {
    padding: 0.5rem 1rem;
    overflow: hidden;
    border-radius: 1rem;
    border: 0.1rem solid #33333355;
    @include flex($j: flex-start);
    gap: 1rem;

    input {
      border: none;
      width: 100%;
      outline: none;
    }
  }

  &__reading {
    @include flex($a: flex-start);
    flex-direction: column;
    gap: 1.5rem;
    padding-block: 1rem;

    &--more {
      color: #1a8917;
      font-size: 0.8rem;
    }
  }

  &__reading--heading {
    position: relative;
    font-size: 1rem;
    font-weight: bold;
    padding-left: 1rem;

    &::before {
      position: absolute;
      content: "";
      top: 50%;
      left: 0;
      width: 0.5rem;
      height: 0.5rem;
      border-radius: 50%;
      transform: translateY(-50%);
      background: #1a8917;
    }
  }

  .reading-box {
    &__header {
      @include flex($j: flex-start);
      gap: 1rem;
    }

    &__heading {
      opacity: 0.8;
    }

    &__img {
      width: 1.5rem;
      height: 1.5rem;
      border-radius: 50%;
    }
  }

  &__recomended {
    &--heading {
      font-weight: 400;
    }

    &--badges {
      @include flex($j: flex-start);
      flex-wrap: wrap;
      gap: 1rem;
      margin-top: 1rem;
    }
  }

  .recomended__badge {
    padding: 0.625rem 1rem;
    border-radius: 1.25rem;
    gap: 0.625rem;
    background: #f2f2f2;
    font-size: 0.8rem;
  }

  &__boxes {
    padding-right: 10rem;
  }

  &-box {
    display: grid;
    grid-template-columns: 1fr 140px;
    border-bottom: 1px solid #e6e6e6;
    padding-block: 1rem;
    gap: 1rem;

    &__info {
      &--top {
        @include flex($j: flex-start);
        gap: 1rem;
        margin-bottom: 1rem;
      }

      &--profile {
        width: 1.5rem;
        height: 1.5rem;
        border-radius: 50%;
      }

      &--heading {
        font-weight: 500;
      }

      &--heading--dimmed {
        color: #757575;
      }

      &--title {
        font-weight: 400;
        font-size: 1.2rem;
        line-height: 1;
        display: block;

        &.desktop--hidden {
          display: none !important;
        }
      }

      &--text {
        margin-top: 0;
        font-size: 1rem;
      }

      &--bottom {
        padding-top: 1rem;
        font-size: 0.8rem;
        @include flex($j: space-between);
      }

      &--meta {
        @include flex($j: space-between);
        gap: 1rem;
        color: #757575;

        .meta {
          &__category {
            padding: 0.2rem 1rem;
            border-radius: 1.25rem;
            gap: 0.625rem;
            background: #f2f2f2;
            font-weight: 600;
          }
        }
      }

      &--cta {
        @include flex($j: space-between);
        gap: 1rem;

        span {
          cursor: pointer;

          &:first-of-type {
            color: #757575;
          }
        }
      }
    }
  }

  .mobile--top {
    display: none;
  }
}

@media (max-width: 768px) {
  .popular {
    padding-top: 0;

    &__user--managenent {
      .btn {
        display: none;
      }
    }

    &__top {
      &--heading {
        font-size: 1rem;
        font-weight: 600;
      }
    }

    &--username {
      font-size: 1.1rem;
      font-weight: 600;
      color: #c8c8c8;
    }

    &--grid {
      grid-template-columns: 1fr;
      margin-top: 0px;
      padding-top: 1rem;
    }

    &__boxes {
      padding-top: 0;
      padding-right: 0;
    }

    &-box {
      display: grid;
      grid-template-columns: 1fr 140px;
      border-bottom: none;
      padding-block: 1rem;
      row-gap: 0;

      .title--mobile {
        grid-column: span 2;
        font-weight: 600;
        font-size: 0.9rem;
        line-height: 1.5;
        margin-bottom: 0;
      }

      .mobile--top {
        grid-column: span 2;
        margin-bottom: 0;
        @include flex($j: space-between);

        & > div {
          @include flex($j: flex-start);
          gap: 1rem;
        }
      }

      &__info {
        &--top {
          margin-bottom: 10px!important;
          padding-right: 20%;

          &.mobile--hidden {
            display: none;
          }
        }
        &--heading{
          font-weight: 400;
          font-size: 0.8rem;

          &--dimmed{
            font-size: 11px;
            font-style: italic;
            font-weight: 500;
            color: #C8C8C8;
          }
        }

        &--title {
          display: none !important;
          font-size: 16px!important;
          font-weight: 600!important;
          line-height: 22px!important;
          letter-spacing: -0.40799999237060547px!important;
          text-align: left!important;
          margin-bottom: 13px!important;

          &.desktop--hidden {
            display: block !important;
          }
        }

        &--text {
          margin-top: 0 !important;
          font-size: 1rem;
          font-weight: 300;
          text-align: left;
        }

        &--cta {
          display: none;
        }
      }
      &--img > img{
        height: 120px;
      }
    }
  }
}
