.profile-page {
  position: relative;
  z-index: 0;
}

.profile {
  display: flex;
  flex-direction: column;
}

.profile-input {
  display: block;
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 0.25rem;
  font-size: 1rem;
  line-height: 1.5;
}

.profile-main {
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  margin: 20px;
}

.profile-main button:first-child {
  margin: 1rem 1rem 1rem 4.7rem;
  width: 20%;
  padding: 1.5rem 1rem;
  border: none;
  border-radius: 0.25rem;
  background-color: #ff5f00;
  color: #fff;
  font-size: 1rem;
  line-height: 1.5;
  cursor: pointer;
}

.profile-main button:last-child {
  margin: 1rem 1rem 1rem 4.7rem;
  width: 20%;
  padding: 1.5rem 1rem;
  border: none;
  border-radius: 0.25rem;
  background-color: #ff0000;
  color: #fff;
  font-size: 1rem;
  line-height: 1.5;
  cursor: pointer;
}
