@import "./navbar";
.App {
  width: 100vw;
  position: absolute;
}

.container {
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 1rem;
}

.section {
  padding-block: 3rem;

  &--title {
    font-size: 2rem;
  }
}

.desktop--hidden {
  display: none;
}

.mobile--hidden {
  display: bloc;
}

@media screen and (max-width: 768px) {
  .desktop--hidden {
    display: block;
  }

  .mobile--hidden {
    display: none;
  }
}
