.admin--layout--div .admin-posts-list{
  width: 80%;
}

.admin-posts-list {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 35px 60px;
  background-color: #fafafa;
}
.admin-posts-list .admin-post-aside{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.admin-posts-list .admin-post-aside > button{
  border: 2px solid #000000;
  background-color: #FFFFFF;
  color: #000;
  border-radius: 10px;
  padding: 15px 20px;
  width: max-content;
  height: auto;
  cursor: pointer;
}
.admin-posts-list .admin-post-aside > button:hover{
  color: #FFFFFF;
  background-color: #000;
  transition: ease 0.5s;
}
.admin-posts-list .admin__post {
  width: 100%;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  background-color: #ffffff8a;
  padding: 15px;
  display: flex;
  align-items: center;
  position: relative;
}

.admin-posts-list .admin__post__image {
  width: 150px;
  height: auto;
}

.admin-posts-list .admin__post__info {
  margin-top: 10px;
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
}

.admin-posts-list .admin__post__info__name {
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 5px;
  text-align: left;
}

.admin-posts-list .admin__post__info__description {
  font-size: 14px;
  color: #666;
  line-height: 1.5;
  text-align: left;
}
.admin-posts-list button{
  width: 80px;
  height: 29px;
  padding: 8px 14px 8px 14px;
  border: none;
  border-radius: 5px;
  background: #E1981B1A;
  font-size: 12px;
  font-weight: 500;
  line-height: 13px;
  letter-spacing: 0px;
  text-align: center;
  color: #E1981B;
  cursor: pointer;
}
.admin__post__info__author{
  font-size: 12px;
  font-weight: 500;
  line-height: 36px;
  letter-spacing: 0px;
  text-align: left;
  color: #000000CC;
  padding: 0px;
}
.admin__post__info__metadata{
  display: flex;
  align-items: center;
  gap: 10px;
}
.admin__post__edit__span{
  display: flex;
  gap: 20px;
  align-items: center;
}
.admin__post__edit__span svg{
  width: 20px;
  height: 20px;
  cursor: pointer;
}


/******************************************** ADMIN MODAL CONTENT **********************************************/
.admin--post--modal1 > span{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}
.admin--post--modal1 > span svg{
  background: #0C46D30D;
  color: #0C46D3;
  padding: 10px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
}
.admin--post--modal1 form{
  display: flex;
  flex-direction: column;
  row-gap: 15px;
}
.admin--post--modal1 form div{
  border: 1px dashed #979797;
  padding: 15px 10px;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.admin--post--modal1 form div svg{
  width: 40px;
  height: 40px;
}
.admin--post--modal1 form div span{
  display: flex;
  flex-direction: column;
}
.admin--post--modal1 form div p{
  font-size: 10px;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: left;
  padding: 0px;
}
.admin--post--modal1 input{
  color: #000;
  outline: none;
  background-color: #FFFFFF;
  padding: 10px;
  border: 1px solid #F1F1F1;
  border-radius: 8px;
}
.admin--post--modal1 button{
  background-color: #FF5F00;
  border-radius: 8px;
  border: none;
  color: #FFFFFF;
  width: 100%;
  height: auto;
  padding: 15px;
  font-size: 14px;
  cursor: pointer;
}


.admin--post--modal2{
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.admin--post--modal2 > p{
  font-size: 16px;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: left;
  color: #000000B2;
}
.admin--post--modal2 span{
  display: flex;
  justify-content: space-between;
}
.admin--post--modal2 svg{
  width: 40px;
  height: 40px;
}
.admin--post--modal2 .button-one{
  width: 45%;
  height: auto;
  color: #979797;
  background-color: white;
  border: 1px solid #979797;
  border-radius: 8px;
  padding: 10px;
  cursor: pointer;
}
.admin--post--modal2 .button-two{
  width: 45%;
  height: auto;
  color: #fff;
  background-color: #FF5F00;
  border-radius: 8px;
  border: none;
  padding: 10px;
  cursor: pointer;
}

@media screen and (max-width: 1028px) {
  .admin--layout--div .admin-posts-list{
    width: 100%;
  }  
  .mobile--hidden{
    display: none!important;
  }
}